<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>

    <!-- <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script> -->
    <script src="/static/htmx.min.js"></script>

    <script defer>
      function toggleForm() {
        const form = document.getElementById("add-task-form");
        const toggleSwitch = document.getElementById("toggle-add-task-button");
        if (form.style.display == "none" || form.style.display == "") {
          form.style.display = "flex";
          toggleSwitch.innerText = "cancel";
        } else {
          form.style.display = "none";
          toggleSwitch.innerText = "add task";
        }
      }
    </script>

    <style>
      body {
        color: white;
        background-color: black;
      }

      #add-task-form {
        margin: 2rem;
        padding: 2rem;
        border: 1px solid white;
        display: none;
      }
    </style>
  </head>
  <body>
    <h1>List of Tasks</h1>
  <form hx-post="/add" hx-swap="outerHTML">
    <input type="text" name="name" />
    <input type="number" name="hours_alloted" style="width: 3rem" />
    <button>add task</button>
  </form>
  <hr />
  <ol>
    {{range .}}
      {{template "taskbody.html" .}}
    {{end}}
  </ol>
  </body>
</html>
